.container {
    width: 85vw;
    margin: auto;
}

/* Tablet */
@media screen and (max-width: 799px) {
    .container {
        width: 90vw;
    }
}

/* moible */
@media screen and (max-width: 430px) {
    .container {
        width: 95vw;
    }
}